Source: teensy-common
Section: electronics
Priority: extra
Maintainer: Jaakko Kantojärvi <jaakko@n-1.fi>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://www.pjrc.com/teensy/
Vcs-Git: git://github.com/raphendyr/teensy-common.git
Vcs-Browser: http://github.com/raphendyr/teensy-common

Package: teensy-common
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Common files for teensy related tools
 Teensy is product from http://www.pjrc.com/teensy/
 .
 These common files include:
  * udev rules allowing write to teensy for users in plugdev group
